{% if wrapper %}
    <{{ wrapper }}>
    {% for item in context %}
        {{ item }}
    {% endfor %}
    </{{ wrapper }}>
{% else %}
    {% for item in context %}
        {{ item }}
    {% endfor %}
{% endif %}
